.navbar.top-header{
    background-color: #60abf5!important;
}
body{
    background-color: #f2f0d7!important;
}
.stud-table{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
    }
.stud-table:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
    }